<%@ Master Language="C#" MasterPageFile="~/MasterPages/basic.master" AutoEventWireup="true" CodeFile="userMasterPage.master.cs" Inherits="MasterPages_userMasterPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

