<%@ Master Language="VB" MasterPageFile="~/welcome/basic.master" AutoEventWireup="false" CodeFile="userMasterPage.master.vb" Inherits="student_studentMasterPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

